html,
body,
#root {
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  overflow: hidden; /* 🔴 IMPORTANTE: Evita el scrollbar en toda la página */

}

.appContainer {
  /* max-width: 100%; */
  /* max-height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvasContainer {
  width: 100vw;
  height: 100vh;
}

.formContainer {
  z-index: 10;
  position: absolute;
  background-color: #16CBF2;
  height: 100%;
  width: 100%;
  overflow: auto;
}
